.main_button a {
    width: 150px;
    background: var(--color-mainbg);
    border-radius: 7px;
    color: var(--color-text3);
    font: 400 1rem var(--font-main);
    padding: 8px 20px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
}