.header_bg {
    /* Bura her page-de teyin olunmus background-image teyin ede bilersiz; */
}
.header_bg .container {width: 100%;}
.header_bg .header_content {
    padding-top: 50px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.header_bg .content_heading {
    font: 400 1.7rem var(--font-main);
    color: var(--color-text3);
}
.header_bg .content_text {
    font: 300 1rem var(--font-main);
    color: var(--color-text14);
    text-align: center;
    width: 100%;
    margin-top: 30px;
}
.header_bg .content_search_box {display: none;}

@media(min-width:768px) {
    .header_bg .content_heading {font: 500 2rem var(--font-main);}
    .header_bg .content_text {
        font: 300 1.2rem var(--font-main);
        width: 90%;
    }
}

@media(min-width:1024px) {
    .header_bg .content_heading {font-size: 2.2rem;}
    .header_bg .content_text {font: 300 1.5rem var(--font-main);}
}