#healing {padding: 50px 0;}
#healing .container{width: 100%;}
.healing_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.healing_img {
    width: 100%;
    height: 400px;
}
.healing_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.healing_content_inside {
    width: 90%;
    margin: auto;
}
.healing_heading {
    font: 450 1.5rem var(--font-main);
    color: var(--color-text7);
}
.healing_text {
    font: 400 1rem var(--font-main);
    color: var(--color-text18);
    margin: 20px 0 30px;
}
.healing_types li {
    font: 400 0.9rem var(--font-main);
    color: var(--color-text18);
    list-style: disc;
    margin-left: 20px;
}
.healing_types li::marker {font-size: 14px;}
.other_healing_types {margin-top: 50px;}
.other_healing_types a {
    font: 400 1.1rem var(--font-main);
    color: var(--color-text11);
    background-color: var(--color-bg8);
    border: 1px solid var(--color-border10);
    border-radius: 8px;
    padding: 10px 20px;
}

@media(min-width:910px) {
    #healing .container{width: 90%;}
    .healing_content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: initial;
    }
    .healing_img {width: 45%;}
    .healing_content_inside {
        width: 52%;
        margin: 0;
    }    
}

@media(min-width:1220px) {
    .healing_img {height: 500px;}
    .healing_heading {font-size: 1.7rem;}
    .healing_text {font-size: 1.1rem;}
    .healing_types li {font-size: 1rem;}
    .healing_types li::marker {font-size: 16px;}
    .other_healing_types a {font-size: 1.2rem;}
}