#ourServices .header_bg {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65)), url('../assets/img/services.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ourServices .content_search_box {display: none;}
#ourServices .content_heading {width: 98%;}
#ourServices .content_text {width: 95%;}

@media(min-width:768px) {
    #ourServices .header_bg {
        height: 70vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.65)), url('../assets/img/services.png');
        background-size: cover;
    }
    #ourServices .content_heading {width: 80%;}
    #ourServices .content_text {width: 80%;}
}