main {padding: 100px 0;}
.psychologic_support {
    position: relative;
}
.star {
    width: 145px;
    height: 125px;
    position: absolute;
    left: -15px;
    top: -100px;
    z-index: 10;
}
.star img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.psy_left {display: none;}
.shadow_img {
    width: 580px;
    height: 560px;
    background: var(--color-bg4);
    border-radius: 30px;
}
.psy_support_img {
    width: 580px;
    height: 560px;
    border-radius: 30px;
    overflow: hidden;
    position: absolute;
    left: 50px;
    bottom: 100px;
    z-index: 0;
}
.psy_support_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.psy_heading {
    font: 500 1.8rem var(--font-main);
    color: var(--color-text2);
    padding-top: 40px;
}
.psy_text {
    font: 400 1rem var(--font-main);
    color: var(--color-text5);
    margin: 20px 0;
}

@media(min-width:768px){
    .psychologic_support {
        margin-top: 250px;
        display: flex;
        justify-content: space-between;
    }
    .star {
        left: -40px;
        top: -170px;
    }
    .psy_left {display: initial;}
    .psy_right {
        padding-left: 100px;
        max-width: 600px;
        height: fit-content;
        margin: 0 auto 0 0;
    }
    .psy_heading {
        font: 500 2.2rem var(--font-main);
        padding: 0;
    }
    .psy_text {
        font-size: 1.2rem;
        margin: 30px 0;
    }

}