#psychologists {padding: 50px 0;}
.psy_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.psy_section_heading {
    font: 500 1.5rem var(--font-main);
    color: var(--color-text7);
}
.all_psy_button {
    width: 170px !important;
    font: 300 1rem var(--font-main) !important;
    display: flex;
    align-items: center;
    gap: 5px;
}
.psychologists {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    padding: 20px 5px;
}
.psychologist {
    width: 230px;
    flex-shrink: 0;
    border-radius: 14px;
    padding: 18px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-bg6);
    box-shadow: 0 1px 10px 1px var(--color-shadow);
}
.psychologist img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.psychologist_name {
    font: 500 1.2rem var(--font-main);
    color: var(--color-text6);
    margin-top: 20px;
}
.psychologist_profession {
    font: 400 1rem var(--font-main);
    color: var(--color-text5);
    margin: 3px 0 10px;
}
.raiting {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.raiting_num {
    font: 400 1rem var(--font-main);
    color: var(--color-text5);
}
.raiting_stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.psychologist_hr {
    width: 100%;
    border: 1px solid var(--color-border4);
    margin: 10px 0;
}
.psychologist_text {
    font: 400 0.8rem var(--font-main);
    color: var(--color-text5);
    text-align: center;
    margin-bottom: 20px;
}
.psychologist button {font: 300 1rem var(--font-main);}

@media(min-width:768px) {
    .psy_head {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .psychologists {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* width: auto; */
        gap: 20px;
        padding: 20px 5px;
    }
    .psychologist {
        width: 100%;
        border-radius: 20px;
        padding: 18px;
    }
    .psy_section_heading {font-size: 2.2rem;}
}

@media(min-width:1024px) {
    .psychologists {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: auto;
    }
    .psychologist button {font-weight: 400;}
}

@media(min-width:1220px) {.psychologists {grid-template-columns: repeat(4, 1fr);}}