* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
li{list-style: none;}
a{text-decoration: none;}
.container {
  width: 90%;
  margin: auto;
}

@media(min-width:768px){
  .container {max-width: 1280px;}

}

:root {
  --font-main: 'Rubik', sans-serif;

  --color-mainbg: #1B33B7;
  --color-bg2: #fff;
  --color-bg3: #3D3C3D;
  --color-bg4: #D6EEFF;
  --color-bg5: #FCFDFF;
  --color-bg6: #FEFEFE;
  --color-bg7: #402a1fe7;
  --color-bg8: #D8DEFF;
  --color-bg9: #F6F7F8;
  --color-bg10: #111418;
  --color-bg11: #137FEC;
  --color-bg12: #3B53D7;
  --color-bg13: #080F37;
  --color-bg14: #F7F8FF;
  --color-bg15: #FCF6FF;
  --color-bg16: #F0F2FF;
  --color-bg17: #2B2B2BA6;
  --color-bg18: #0B1449;
  
  --color-text: #000;
  --color-text2: #1B33B7;
  --color-text3: #fff;
  --color-text4: #0600FF;
  --color-text5: #7B7B7B;
  --color-text6: #141414;
  --color-text7: #0B1449;
  --color-text8: #F1B819;
  --color-text9: #FDFDFD;
  --color-text10: #EAEEF9;
  --color-text11: #162992;
  --color-text12: #111418;
  --color-text13: #137FEC;
  --color-text14: #CBCBCB;
  --color-text15: #1E3A5F;
  --color-text16: #EBEBEB;
  --color-text17: #A0A0A0;

  --color-border: #1B33B7;
  --color-border2: #3D3C3D;
  --color-border3: #FFF;
  --color-border4: #CBCBCB;
  --color-border5: #D0D0D0;
  --color-border6: #D6EEFF;
  --color-border7: #A8D8F0;
  --color-border8: #E8E6E6;
  --color-border9: #F2F2F2;

  --color-shadow: #d8deffdd;
}

[data-theme="dark"] {
  --color-bg: #0f172a;
}