* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
li{list-style: none;}
a{text-decoration: none;}
body {background: #444;}
.container {
  max-width: 1280px;
  margin: auto;
}

:root {
  --color-mainbg: #1B33B7;
  --color-bg2: #fff;
  
  --color-text: #000;
  --color-text2: #1B33B7;
  --color-text3: #fff;

  --color-border: #e2e8f0;
}

[data-theme="dark"] {
  --color-bg: #0f172a;

  --color-text: #f1f5f9;

  --color-border: #334155;
}