* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
li{list-style: none;}
a{text-decoration: none;}
.container {
  width: 90%;
  margin: auto;
}

@media(min-width:768px){
  .container {max-width: 1280px;}

}

:root {
  --font-main: 'Rubik', sans-serif;

  --color-mainbg: #1B33B7;
  --color-bg2: #fff;
  --color-bg3: #3D3C3D;
  --color-bg4: #D6EEFF;
  
  --color-text: #000;
  --color-text2: #1B33B7;
  --color-text3: #fff;
  --color-text4: #0600FF;
  --color-text5: #7B7B7B;

  --color-border: #1B33B7;
  --color-border2: #3D3C3D;
  --color-border3: #FFF;
}

[data-theme="dark"] {
  --color-bg: #0f172a;
}