nav {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav{
    background: var(--color-mainbg);
    position: relative;
    /* position: fixed;
    top: 0;
    left: 0; */
    /* z-index: 999; */
    width: 100%;
}
.links {
    display: flex;
    flex-direction: column;
    background: var(--color-bg2);
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    padding: 20px 0;
    transition: .3s;
    overflow: hidden;
    z-index: 999;
}
.links.open {width: 80%;}
.links a{
    display: inline-block;
    color: var(--color-text2);
    font: 500 1rem var(--font-main);
    width: 100%;
    padding:  8px 5vw;
    white-space: nowrap;
}
.mob_reserve_button {
    width: 80%;
    margin:  8px auto 8px 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mob_reserve_button button {
    width: 100%;
    background: var(--color-mainbg);
    border-radius: 7px;
    color: var(--color-text3);
    font: 500 1rem var(--font-main);
    padding: 8px;
    text-align: center;
    white-space: nowrap;
}
.desk_reserve_button {display: none;}
.menu_bar {display: initial;}

@media(min-width:768px){
    nav{
        justify-content: space-between;
        align-items: center;
    }
    .nav{background: none;}
    .links {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: none;
        position: static;
        max-width: 550px;
        width: 100%;
        padding: 0;
        transition: .3s;
    }
    .links a{
        color: var(--color-text3);
        margin:  0;
        padding: 10px 5px;
    }
    .mob_reserve_button {display: none;}
    .menu_bar {display: none;}
    .desk_reserve_button {
        display: initial;
        background: var(--color-mainbg);
        margin:  0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
    }
    .desk_reserve_button button {
        background: none;
        color: var(--color-text3);
        font: 500 1rem var(--font-main);
        width: 150px;
        padding: 8px;
        text-align: center;
        white-space: nowrap;
    }
    
}
@media(min-width:1024px){
    .links a{font-size: 1.1rem;}
}
